<h1>Add New Brand</h1>
<form action="/brands" method="post" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <div class="btn-group btn-group-lg" role="group" >
        <button class="btn bnt-lg btn-outline-dark"><a href="/brands">Cancel</a></button>
        <button class="btn bnt-lg btn-outline-dark" type="submit">Add</button>
    </div>
</form>
